<h2>List of celebrities</h2>

<div>
  {{#if celebrities}}
    {{#each celebrities}}
      <div>
        <p><strong>Name:</strong> {{this.name}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>Not celebrities avariable</p>
  {{/if}}
</div>

<a class="homelink" href="/">Back Home Page</a>